{% load static %} {% block content %}
<!-- .navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark">
  <!-- <img src="{% static 'assets/heart.png' %}" style="width:2%;height:2%;margin-right:1rem;"/> -->
  <a class="navbar-brand" href="#" style="font-weight:bold;">GO&nbspDONATE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'homepage' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'newspage' %}">News</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'donatelanding' %}">Programs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'reviewPage' %}">Reviews</a>
      </li>
      {% if user.is_authenticated %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'signin' %}">Sign In</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% endblock %}
