#top {
    margin-top: 150px; 
    margin-left: 150px;
    font-size: 60px;
}

h4 {
    font-weight: 900;
}

#noNews {
    margin-top: 250px;
    margin-bottom: 250px;
}

#mid {
    display:flex;
    justify-content: center;
    align-items: center;
}

#date {
    font-size: 15px;
    color: black;
}

#text {
    color:black;
}

#img {
    height: 200px;
    min-height: 25%;
}

#card {
    width: 25%;
    height: 500px;
    border: none;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 992px) {
    #img {
        max-width: 100%;
        height: auto;
    }

    #top {
        margin-left: 90px;
    }

    #card {
        width: 40%;
        height: 500px;
        border: none;
        margin-left: 50px;
    }
}

@media (max-width: 600px) {
    #top {
        margin-left: 30px;
    }

    #card {
        width: 80%;
        height: 500px;
        border: none;
        margin-left: 0px;
    }
}