{% extends "browse/base.html" %}
{% url 'register' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<title> Profile</title>

{% if user.is_authenticated %}
<h1 style="padding-top: 1.875rem"></h1><br>
<h1> Hello {{user.username}} </h1>
<h2> Start donating now !</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Donations</th>
      <th scope="col"></th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for it in donation %}
    <tr>
      <td>{{it.name}}</td>
      <td></td>
      <td>{{it.date}}</td>
      {% endfor %}
  </tbody>
</table>
  {% else %}
  <h1 style="padding-top: 1.875rem"></h1><br>
  <h1 style="margin-left: 450px;margin-top: 150px; margin-bottom: 100px">please <a href="{% url 'signin' %}">Login</a> <a>/</a> <a href="{% url 'register' %}">Register</a> </h1>h1>
{% endif %}
{% endblock %}