@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

html,body{
  overflow-x:hidden;
}

nav{
  background:black!important;
}

nav a{
  color:white !important;
}


.jumbotron{
  margin-top:3rem;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  height:auto;
  margin:0 !important;
  background:#FBF8F6!important;
}

.smallLogo{
  width:35px;
  height:35px;
  background: url('/static/guest/assets/blackheart.png') no-repeat;
  background-size:cover;
  align-self:center;
}


.dataCont{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
  flex-wrap:wrap;
  width:80%;
  margin:0 !important;
}

.donateCard {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 0.75%;
  width: 320px;
  height:400px;
  background-color: #262626;
  color: #ffffff;
  text-align: left;
  margin:2rem;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor:pointer;
}
.donateCard * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.donateCard .image {
  max-height: 220px;
  overflow: hidden;
}
.donateCard img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.donateCard figcaption {
  padding: 15px;
  position: relative;
}
.donateCard .date {
  background-color: #c0392b;
  top: 25px;
  color: #fff;
  left: 25px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.donateCard .date span {
  display: block;
  line-height: 24px;
}
.donateCard .date .month {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
}
.donateCard h3,
.donateCard p {
  margin: 0;
  padding: 0;
}
.donateCard h3 {
  min-height: 50px;
  margin-bottom: 10px;
  margin-left: 60px;
  display: inline-block;
  font-weight: 600;
  text-transform: uppercase;
}
.donateCard p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
.donateCard footer {
  padding: 0 25px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e6e6e6;
  font-size: 0.8em;
  line-height: 30px;
  text-align: right;
}
.donateCard footer > div {
  display: inline-block;
  margin-left: 10px;
}
.donateCard footer i {
  color: rgba(255, 255, 255, 0.2);
  margin-right: 5px;
}
.donateCard a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.donateCard:hover img,
.donateCard.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


@media (max-width:730px){
  .jumbotron{
    height:auto !important;
    padding:0;
  }

  .available{
    font-size:1.5rem;
  }
}
