.progressCont{
  margin-top:1rem;
  width:100%;
  display:flex;
  flex-direction:column;
}

.progressBar{
  width:100%;
  height:8px;
  border-radius:25px;
  background:black;
}

.progressFill{
  width:40%;
  height:100%;
  border-radius:25px;
  background:#7CD965;
}
