<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="{% static 'guest/dependencies/css/bootstrap.css' %}">

  <!-- Components css -->
  <link rel="stylesheet" href="{% static 'guest/guest_css/components/navbar.css' %}">

  <!-- Containers CSS -->
  <link rel="stylesheet" href="{% static 'guest/guest_css/containers/landingPage.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700,700i,800|Roboto:400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amiko:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'register/register.css' %}">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


  <title>Donation Website</title>
</head>
<body>
{% include 'guest/components/navbar.html' %}
{% block content %}
{% endblock %}
{% include 'footer/footer.html' %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="{% static 'guest/guest_css/components/navbar.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
