{% extends 'guest/containers/index.html' %}{% load mathfilters %} {% load humanize %}{% load static %}
{% block content %}

    <section class="entryContainer">
        <div class="intro">
            <div class="imageCont">
                <img src="{% static 'guest/assets/heart.png' %}">
            </div>
            <div class="textCont">
                <h1> What if...</h1>
                <h1>Today you can save a life?</h1>
                {% if user.is_authenticated %}
                    <a href="{% url 'donatelanding' %}" id="donate-button" class="take button-donate"> <span
                            style="font-size:0.85rem">+Hey {{ user.username }} lets,</span><br/>T A K E &nbspA C T I O N</a>
                {% else %}
                    <a href="{% url 'donatelanding' %}" id="donate-button" class="take button-donate">T A K E &nbspA C T
                        I O N</a>
                {% endif %}
            </div>
        </div>
    </section>

    <section class="urgentContainer">
        <div class="urgentContent">
            <h1> They need urgent help </h1>
            <div class="line"></div>
            <div class="urgentCard">
                <div class="urgentImage" style="background-image:url('{{ programs.image }}')">
                    <!-- <img src="{% static 'assets/cry2.jpg' %}"/> -->
                </div>
                <div class="urgentData">
                    <h4 style=" text-decoration: underline;">{{ programs.name }}</h4>
                    <p>{{ programs.shortdescription|truncatechars:325 }}</p>
                    <a href="{% url 'dynamicIndex' programs.id %}" style="align-self:flex-end">
                        <h6 style="align-self:flex-end">view more</h6>
                    </a>
                    <div class="progressCont">
                        <h6>Current Donations</h6>
                        <h4>Rp.{{ programs.current|intcomma }}</h4>
                        <div class="progressCont">
                            <h6>Progress</h6>
                            <div class="progressBar">
                                {% if programs.current > programs.target %}
                                    <div class="progressFill" style="width: 100%"></div>
                                {% else %}
                                    <div class="progressFill"
                                         style="width:{{ programs.current|mul:100|div:programs.target }}%"></div>
                                {% endif %}
                            </div>
                        </div>
                        <h6 style="align-self:flex-end;margin-top:0.5rem;">Ends in {{ programs.date }}</h6>
                    </div>
                    <a href="{% url 'donate_form' %}">
                        <button type="button" class="btn btn-dark" style="max-width:200px;border-radius:25px;">Donate
                            now
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="helpContainer">
        <div class="helpContent">
            <h1 style="margin-top:3rem;">HELP OTHERS</h1>

            {% for otherProgram in others %}
                <div class="helpCard">
                    <div class="helpImage" style="background-image:url('{{ otherProgram.image }}')">
                    </div>
                    <div class="helpData">
                        <h4 style="text-decoration:underline;">{{ otherProgram.name }}</h4>
                        <p>{{ otherProgram.shortdescription|truncatechars:250 }}
                        </p>
                        <div class="progressCont">
                            <h6>Current Donations</h6>
                            <h4>Rp.{{ otherProgram.current|intcomma }}</h4>
                            <div class="progressBar">
                                <div class="progressFill"
                                     style="width:{{ otherProgram.current|mul:100|div:otherProgram.target }}%;max-width:100%;"></div>
                            </div>
                            <h6 style="align-self:flex-end;margin-top:0.5rem;">Ends in {{ otherProgram.date }}</h6>
                            <a href="{% url 'dynamicIndex' otherProgram.id %}">
                                <h6>view more</h6>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}



            <!-- <div class="helpCard">
              <div class="helpImage">
              </div>
              <div class="helpData">
                <h4 style="text-decoration:underline;">Shanghai earthquake</h4>
                <p>he death toll from a 7.9-magnitude earthquake that rocked western China yesterday rose to nearly 12,000 and scores more missing,
                </p>
                <div class="progressCont">
                  <h6>Current Donations</h6>
                  <h4>Rp.100.000.000</h4>
                  <div class="progressBar">
                    <div class="progressFill"></div>
                  </div>
                  <h6 style="align-self:flex-end;margin-top:0.5rem;">43 days left</h6>
                  <h6>view more</h6>
                </div>
              </div>
            </div>
          </div> -->
    </section>

    <section class="whyCont">
        <div class="whyContent">
            <h1>Why Go Donate?</h1>
            <div class="smallLogo"></div>
            <div class="whyCard">
                <div class="reason">
                    <h4>1</h4>
                    <h4> Go Donate is non-profit</h4>
                </div>
                <div class="reasonContent">
                    <p style="color:black;margin-top:0.5rem;">dummyprinting and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy</p>
                </div>
            </div>

            <div class="whyCard">
                <div class="reason">
                    <h4>2</h4>
                    <h4> Thousands have used Go Donate</h4>
                </div>
                <div class="reasonContent">
                    <p style="color:black;margin-top:0.5rem;">Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummyprinting and typesetting
                        industry. Lorem Ipsum has been the industry's standard dummy</p>
                </div>
            </div>

            <div class="whyCard">
                <div class="reason">
                    <h4>3</h4>
                    <h4> Go&nbspDonate is non-profit</h4>
                </div>
                <div class="reasonContent">
                    <p style="color:black;margin-top:0.5rem;">dummyprinting and typesetting industry. Lorem Ipsum has
                        been the industry's standard dummy</p>
                </div>
            </div>

        </div>
    </section>



{% endblock %}
