{% extends 'guest/containers/index.html' %} {% load static %} {% block content %}

<div class="mainContainer">
  <div class="col">
    <div class="card-body">
      <div class="column">
        <div class="card-deck" style="width:30rem;height:30rem;border:none;margin-top:3rem;">
          <h5 class="card-title">Urgent</h5>
          <img class="card-img-top" src="{% static 'assets/boy2.jpg' %}" alt="Card image cap" style="width:100%;">
          <div class="card-body">
            <h5 class="card-title">Huangzhou earthquake</h5>
            <p class="card-text"> Current funded Rp.200.500.000 </p>
          </div>
        </div>
        <div class="card border-light mb-3" style="max-width: 25rem;border:none;margin:2rem;">
          <div class="card-body" style="max-width: 25rem;">
            <h5 class="card-title">Menu</h5>
            <div class="card-deck">
              <div class="card" style="width:200px;border:none;">
                <img class="card-img-top" src="{% static 'assets/palu.jpg' %}" alt="Card image cap">
                <p class="card-text" style="border:none;"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation" </p>
              </div>
            </div>
            <div class="card-deck">
              <div class="card">
                <img class="card-img-top" src="{% static 'assets/cry.jpg' %}" alt="Card image cap">
                <p style="border:none;"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
