{% load static %}


<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img src="{% static 'guest/assets/heart.png' %}" style="width: 100px ; height: 100px; margin-top: 1rem ">
      </div>
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'reviewPage' %}">Reviews</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Sign out</a></li>
          {% else %}
          <li><a href="{% url 'register' %}">Sign up</a></li>
          <li><a href="{% url 'signin' %}">Sign in</a></li>

          {% endif %}
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>Donations</h5>
        <ul>
          <li><a href="{% url 'donatelanding' %}">Programs</a></li>
          <li><a href="{% url 'newspage' %}">News</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
