{% extends 'Review/review.html' %}
{% load static %}
{% block content %}
<div class="mainContainer">
    {% if user.is_authenticated %}
    <div class="box">
    <h1 style="font-size:1.25rem;margin-bottom:1rem">Give us your review!<span style="font-size:0.85rem;font-style:italic;">"Your opinion matters!"</span></h1>
    <form method="POST" action="{% url 'postReview' %}" style="width:75%;margin:0 3rem;" class="form-row">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group" style="width:100%;">
            <label>Username</label>
            {{ form.username }}
            <label> Review </label>
            {{ form.usrReview }}
        </div>
        <button style="margin:0.25rem 4rem 0 1rem" type="submit" class="btn btn-primary" id="submit">Submit</button>
    </form>
    </div>
    {% endif %}
    <br/>
    <h1> Lets hear what the people say</h1>
    <br/>
    <div class="columnReview">
        {% if entries %}
          {% for entry in entries %}
            {% include 'Review/_status_card.html' %}
          {% endfor %}

        {% else %}
            {% if user.is_authenticated %}
                <h2 class="non" style="color:grey;margin-left:5rem;"><i>"Be the first to give a review!"</i></h2>
            {% else %}
                <h2 class="non" style="color:grey;margin-left:5rem;"><i>"No one has reviewed us yet"</i></h2>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock  %}
