<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="{% static 'donationPage/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'donationPage/css/landingStyle.css' %}">
  <link rel="stylesheet" href="{% static 'donationPage/css/donationForm.css' %}">
  <link rel="stylesheet" href="{% static 'guest/dependencies/css/bootstrap.css' %}">
  <!-- Components css -->
  <link rel="stylesheet" href="{% static 'guest/guest_css/components/navbarOther.css' %}">
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'review/review.css' %}">
  <link rel="stylesheet" href="{% static 'register/register.css' %}">
  <title>Donation Page</title>
</head>
<body>
  {% include 'guest/components/navbar.html' %}
  {% block content %}

  {% endblock %}
  {% include 'footer/footer.html' %}
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
<script>


$("#submit").click((e) => {
        e.preventDefault();
        $.ajax({
            url : "./post",
            type : "POST",
            headers: {
                'X-CSRF-Token': $("input[name=csrfmiddlewaretoken]").val()
            },
            data : $("form").serialize(),
            dataType: 'json',
            success : function(resp) { 
                username= $('#username').val(),
                userReview= $('#userreview').val(),
                date = new Date($.now())
                $(".columnReview").prepend(
                `
                <div class="cardBase card">
                  <br/>
                  <h6>${ date } </h6>
                  <h4> By: ${ username } </h4>
                  <br/>
                  <p>${ userReview }</p>
                  <br />
                </div>
                `
                )
            },
            error : function(resp){
                alert ("Whoopsie!");
            }
        });
    });


</script>
</html>
