{% extends 'Register/register.html' %}
{% load static %}
{% block content %}
    <div class="container"
         style="margin-top:10rem;height:80vh;display:flex;justify-content:center;align-items:center;flex-direction:column;">
        <div class="row" style="margin-bottom:7rem;">
            <h1 style="margin:0 4rem;">Sign in</h1>
            <form method="POST" action="{% url 'login' %}" style="width:100%;margin:0 3rem;" class="form-row">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group" style="width:100%;">
                    {{ login.username }}
                    {{ login.password }}
                </div>
                <div class="wrapper" style="dispaly:flex;justify-content:space-between;">
                <button style="margin:2rem 4rem 0 1rem" type="submit" class="btn btn-primary">Submit</button>
                <div class="wrap" style="margin:2rem 4rem 0rem 1rem;align-items:flex-end;justify-content:flex-end;min-width:100%;">
                    <h6 style="margin:1rem 0.25rem;"><i>OR</i></h6>
                    <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/80-google-plus-512.png" style="width:30px;height:30px">  Login with Google</a><br>
                </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
