{% extends "browse/base.html" %}
{% block content %}
    <h1 id="top"> N E W S</h1>

    <div class="container" id="cont">
        <div class="row" id="mid">
            {% if news %}
                {% for item in news %}
                    <div class="card" id="card">
                        <a href="{{ item.link }}" style="color: black">
                            <h5 class="card-title">{{ item.categories }}</h5>
                            <img id="img" class="card-img-top" src="/{{ item.image }}" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">{{ item.event }}</h4>
                                <a class="card-title" id="date">{{ item.date }}</a>
                                <p class="card-text" id="text"><br>{{ item.desc }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <h1 id="noNews">No News is Good News</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}
