.navbar-collapse.collapse.in {
  display: block!important;
}

.navbar {
  background: black !important;
}

.navbar a{
  color:white !important;
}

.smallLogo{
  width:35px;
  height:35px;
  background: url('/static/guest/assets/blackheart.png') no-repeat;
  background-size:cover;
  align-self:center;
}
