
.entryContainer{
   background:linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url('/static/guest/assets/taiwan.jpg') no-repeat center;
   background-size:cover;
   background-attachment:fixed;
   height:100vh;
   min-width:100%;
   display:flex;
   justify-content:flex-end;
   flex-direction:row;
   z-index:-1;
}


.intro{
  max-width:500px;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}
/* .imageCont{
  width:100px;
  height: 100px;
} */

.imageCont img{
  width:100px;
  height:100px;
}

.textCont{
  display:flex;
  flex-direction:column;
  padding-left:3rem;
}

.intro h1{
  color:white !important;
  font-weight:bold;
  font-size:2rem;
}


.urgentContainer{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items: center;
}

.urgentContent{
  margin:3rem 0;
  width:80%;
  height:100%;
  display:flex;
  flex-direction:column;
  /* background: blue; */
}

.urgentContent h1{
  margin-top:2rem;
}

.line{
  width:100%;
  height: 2.5px;
  background:black;
}

.urgentCard{
  width:100%;
  height:50%;
  margin-top:2rem;
  display:flex;

}

.urgentImage{
  width:55%;
  margin-right:2rem;
  display:flex;
  background: url('/static/guest/assets/cry2.jpg') no-repeat;
  background-position: center top;
  background-size:cover;
}

.take:hover{
  color:orange !important;

}

.urgentImage img{
  width:100%;
}

.urgentData{
  width:40%;
  display:flex;
  flex-direction: column;
}

.urgentData p{
  padding:1rem 3rem 0rem 0;
}

.progressCont{
  margin-top:1rem;
  width:100%;
  display:flex;
  flex-direction:column;
}

.progressBar{
  width:100%;
  height:8px;
  border-radius:25px;
  background:black;
}

.progressFill{
  width:40%;
  height:100%;
  border-radius:25px;
  background:#7CD965;
}

.helpContainer{
  width:100%;
  background:#FBF8F6;
  display:flex;
  justify-content:center;
  align-items: center;

}

.helpContent{
  width:80%;
  height:100vh;
  display:flex;
  flex-direction:column;
}

.helpContent h1{
  font-size:1.5rem;
  font-weight:bold;
}

.helpCard{
  width:100%;
  height:30%;
  margin-top:4rem;
  display:flex;
}

.helpImage{
  width:40%;
  margin-right:2rem;
  display:flex;
  background: url('/static/guest/assets/boy.jpg') no-repeat;
  background-position: center top;
  background-size:cover;
}

.helpData{
  width:40%;
  padding:0rem 3rem 3rem 3rem;
}

.whyCont{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items:flex-start;
}

.whyContent{
  width:80%;
  height:100%;
  display:flex;
  flex-direction:column;
}

.whyContent h1{
  align-self:center;
  margin:1.5rem 0;
}

.smallLogo{
  width:35px;
  height:35px;
  background: url('/static/guest/assets/blackheart.png') no-repeat;
  background-size:cover;
  align-self:center;
}


.whyCard{
  margin:3rem 0;
  width:100%;
  display:flex;
  flex-direction:row;
}

.reason{
  width:70%;
  margin-right:2rem;
}

.reasonContent{
  width:40%;
  max-width:900px;
}



@media (max-width:900px){
  html,body{
    overflow-x: hidden;
  }

  .take{
    margin-left:3rem;
  }

  .entryContainer{
    width:100vw;
  }

  .textCont h1{
    font-size:1.5rem;
    margin:0.5rem 3rem;
  }

  .imageCont {
    display:none;
  }

  .urgentContainer{
    flex-direction:column;
  }

  .urgentCard{
    flex-direction: column;
  }

  .urgentData{
    width:100%
  }

  .urgentImage{
    height:400px;
    width:100%;
    margin-bottom:1rem;
  }

  .helpContainer{
    flex-direction:column;
    height:auto;
  }

  .helpContent{
    width:80%;
    height:100%;
  }

  .helpContent h1{
    margin-top:1rem;
  }

  .helpCard{
    flex-direction:column;
    height:100%;
    display:flex;
    margin-bottom:0.5rem;
  }

  .helpImage{
    width:100%;
    margin:0;
    height:300px !important;

  }

  .helpData{
    width:100%;
    padding:0;
  }

  .whyCont h1{
    font-size:1.25rem;
  }

  .whyCont{
    height:auto;
  }

  .whyCard{
    margin:1rem 0;
    width:100%;
    height:100%;
    flex-direction: column;
  }

  .reasonContent{
    width:100%;
  }

  .whyCard h4{
    font-size:1rem;
  }

  .whyCard p{
    font-size:0.75rem;
  }

  .smallLogo{
    padding: 1rem;
  }

}
