

.mainContainer{
    width:100%;
    min-height:100vh;
    margin-top:20vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

form{
    width:100%;
}

label{
    margin:0;
    font-weight:bold;
    font-size:1.25rem;
    color:black;

}

.box{
    width:auto;
    padding:20px;
    border-radius:15px;
    background:white;
    box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.1);

}


form-control{
    margin-top:0rem;
    width:100%;
}

.columnReview{
  width:40%;
  height:auto;
}

.cardBase{
  width:100%;
  display:flex;
  flex-direction:column;
  height:auto;
  background:white;
  border-radius:5px;
  margin-bottom:2rem;
  padding: 15px 15px 10px 15px;
}


@media(max-width:728px){
    .columnReview{
        width:95%;
    }

    .box{
        padding:10px;
    }

    .cardbase{
        width:100%;
    }

    h1{
        font-size:1rem;
    }

    .non{
        font-size:1.25rem;
    }
}
