{% extends 'donationPage/index.html' %} {% load mathfilters %} {% load humanize %}{% load static %} {% block content %}


<div class="container" style="margin-top:10rem;">
  <a href="{% url 'donatelanding' %}" style="text-decoration:underline;color:#8b0000  !important;"> × back </a>
  <h1 style="margin-top:1rem;">{{ event.name }}</h1>
  <div class="row">
    <div class="col-sm">
      <div class="wrapper">
        <img src='/{{ event.image }}' class="img-fluid" alt="Responsive image" style="min-width:100%" />
      </div>
    </div>
    <div class="col-sm">
      <div class="row">
        <div class="col">
          <div class="progressCont">
            <h6>Progress</h6>
            <div class="progressBar">
              {% if event.current > event.target %}
              <div class="progressFill" style="width: 100%"></div>
              {% else %}
              <div class="progressFill" style="width:{{ event.current|mul:100|div:event.target }}%"></div>
              {% endif %}
            </div>
            <span style="align-self:flex-end;margin-top:0.5rem; font-size:0.75rem;">Ends in {{ event.date }} </span>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col" style="margin-top:0;">
          <h5>Current Donations</h5>
          <h4 style="margin-bottom:0.25rem;color:green">Rp.{{ event.current|intcomma }} </h4>
          <h6> With a target of <span style="text-decoration:underline;">Rp.{{ event.target|intcomma }} </span></h6>
          <h6 style="color:green;">{{ event.current|mul:100|abs|div:event.target }}% completed</h6>
        </div>
        <div class="w-100"></div>
        <div class="col" style="margin-top:0.5rem;">
          <p>{{ event.shortdescription }}</p>
        </div>
      </div>
      <a href="{% url 'donate_form' %}"> <button type="button" class="btn btn-dark" style="border-radius:25px;height:2.5rem;padding:0 3rem;">
                    Donate
                </button>
              </a>
    </div>
  </div>

  <h3 style="margin-top:2rem;">Details</h3>
  <div class="line" style="width:100%;height:3px;background:black;"></div>

  <div class="row">

    <div class="col-md">
      <p style="margin-top:2rem;">{{ event.description }}</p>
    </div>
    <div class="col" style="display:flex;justify-content:center;align-items:center;flex-direction:column;">
      <h4 style="margin-top:1rem;align-self:flex-start">Thank you to our recent donateurs</h4>
      <div class="card" style="width: 100%;align-self:flex-end;margin-top:1rem;">
        <div class="card-header" style="background:black;color:white;">
          Recent Donateurs
        </div>
        <ul class="list-group list-group-flush">
          {% for donateur in donateurs %}
            {% if donateur.program.name == event.name %}
              <li class="list-group-item">
                {% if donateur.hidden == True %}
                  <h5>Anonymous</h5>
                {% else %}
                  <h5>{{ donateur.name }}</h5>
                {% endif %}
                <h5>Rp.{{ donateur.amount|intcomma }}</h5>
              </li>
            {% endif %}
            {% endfor %}
        </ul>
      </div>
       <!-- {% for donateur in donateurs %} {% if donateur.program.name == event.name %}
      <h5 style="margin-top:2rem;">{{ donateur.name }}</h5>
      <h6>Rp.{{ donateur.amount }}</h6> {% endif %} {% endfor %} -->
    </div>
  </div>
</div>

{% endblock %}
