{% extends 'donationPage/index.html' %}
{% load static %}
{% block content %}
<div class="jumbotron" style="width:100%;min-height:100vh;padding:10rem 0;">
  <h1 class="available">Available Programs</h1>
  <h6>"They Need your help"</h6>
  <div class="smallLogo"></div>
  <div class="dataCont jumbotron" style="padding:0;">
{% for donation in programs %}
  <a href="{% url 'dynamicIndex' donation.id %}">
    <figure class="donateCard">
      <div class="image"><img src="/{{ donation.image }}"/></div>
      <figcaption>
        <h3 style="margin-left:0;color:white;">{{ donation.name }}</h3>
        <p>
          {{ donation.shortdescription|truncatechars:150 }}
        </p>
      </figcaption>
    </figure>
  </a>
  {% endfor %}
  </div>
</div>


{% endblock %}
