{% extends 'donationPage/index.html' %}
{% load static %}
{% block content %}
    <div class="container"
         style="margin-top:10rem;height:80vh;display:flex;justify-content:center;align-items:center;flex-direction:column;">
        <div class="row">
            <h1 style="margin:0 4rem;">Donation Form</h1>
            <form method="POST" action="{% url 'submitDonate' %}" style="width:100%;margin:0 3rem;" class="form-row">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group" style="width:100%;">
                    {{ form.name }}
                    {{ form.email }}
                    {{ form.amount }}
                    {{ form.program }}
                </div>
                {% if user.is_authenticated %}
                    <button style="margin:2rem 4rem 0 4rem" type="submit" class="btn btn-primary">Submit</button>
                {% else %}
                    <p> Please <a href="{% url 'social:begin' backend='google-oauth2' %}">  Login</a> To Submit</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
